{% extends "base.html" %}

{% block title %}PII Detection{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row p-1">
    </div>
    <div class="row justify-content-center p-1">
        <div class="col">
        </div>
        <div class="col">
            <div class="card" style="width: 64em;">
                <div class="card-body">
                    <h3 class="card-title text-center">PII detection</h3>
                    <form method="post">
                        <div class="container">
                            <div class="row p-1">
                                <textarea id="documentEntry" name="documentEntry" rows="12"
                                    placeholder="Paste the document to detect PII in here">{{ data.document }}</textarea>
                                <div id="the-count">
                                    <span>{{data.documentCount}}</span>
                                </div>
                            </div>
                            <div class="row p-1">
                                <button type="submit" class="btn btn-primary" style="width: 12em;">Detect PII</button>
                            </div>
                            {% if data.entities|length %}
                            <div class="row p-1 pt-4">
                                <h4>Redacted text</h4>
                                <p>{{data.redacted_text}}</p>
                            </div>
                            <div class="row p-2 justify-content-center">
                                {% for entity in data.entities %}
                                <div class="col m-1 mt-3">
                                    <div class="card h-100" style="width: 18rem;">
                                        <div class="card-body">
                                            <h4 class="card-title text-center">{{entity.name}}</h4>
                                            <p class="card-text">Category: {{entity.category}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

{% endblock %}