{% extends "base.html" %}

{% block title %}Sentiment Analysis{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row p-1">
    </div>
    <div class="row justify-content-center p-1">
        <div class="col">
        </div>
        <div class="col">
            <div class="card" style="width: 64em;">
                <div class="card-body">
                    <h3 class="card-title text-center">Sentiment Analysis and Opinion Mining</h3>
                    <form method="post">
                        <div class="container">
                            <div class="row p-1">
                                <textarea id="documentEntry" name="documentEntry" rows="12"
                                    placeholder="Paste the document to analyze here">{{ data.document }}</textarea>
                                <div id="the-count">
                                    <span>{{data.documentCount}}</span>
                                </div>
                            </div>
                            <div class="row p-1">
                                <button type="submit" class="btn btn-primary" style="width: 12em;">Analyze
                                    Sentiment</button>
                            </div>
                            {% if data.sentences|length %}
                            <div class="row p-1 pt-4">
                                <h4>Overall sentiment</h4>
                                <p>{{data.overall_sentiment}}. {{data.overall_scores}}</p>
                            </div>
                            {% for sentence in data.sentences %}
                            <div class="row p-2">
                                <h5>Sentence: {{sentence.sentence}}</h5>
                                <p> {{sentence.sentence_sentiment}}. {{sentence.sentence_score}}</p>
                            </div>
                            <div class="row p-2 justify-content-start">
                                {% for opinion in sentence.opinions %}
                                <div class="col m-1">
                                    <div class="card h-100" style="width: 18rem;">
                                        <div class="card-body">
                                            <h4 class="card-title text-center">{{opinion.target}}</h4>
                                            <p class="card-text">Sentiment: {{opinion.target_sentiment}}</p>
                                            <p class="card-text">Assessment: {{opinion.assessment}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

{% endblock %}